.simple-form {
  width: 420px;

  & &__input {
    background-color: transparent;
    border: 1px solid var(--border-color-light);
    border-radius: 50px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.01em;
    line-height: 18px;
    margin-bottom: 14px;
    padding: 19px 0 19px 32px;
    width: 100%;
    color: var(--color-white-100);
    transition: 0.2s;

    &[name="CVV"] {
      flex-shrink: 2;
    }

    &:focus {
      border: 1px solid var(--border-color-light);
    }

    &.error {
      border: 1px solid var(--color-red-600);
    }

    &:hover {
      border-color: var(--color-black-300);
    }
  }

  & &__flex-container {
    display: flex;
    gap: 14px;
    // margin-bottom: 18px;
  }

  & &__error-message {
    color: var(--color-red-600);
    text-align: left;
    margin: -8px 10px 10px;
    font-size: 14px;
  }

  .flex-error-container {
    display: flex;
    justify-content: space-between;

    .to-right {
      text-align: end;
    }
  }

  & &__button {
    display: flex;
    background-color: var(--primary-color-dark);
    border: none;
    border-radius: 60px;
    color: var(--color-white-100);
    height: 56px;
    transition: 0.2s;
    width: 100%;
    justify-content: center;
    align-items: center;

    &[disabled] {
      background-color: var(--color-black-800);
      color: var(--color-white-900);

      &:hover {
        background-color: var(--color-black-800);
        cursor: not-allowed;
      }
    }

    &:hover {
      background-color: var(--background-color-primary-hover);
      cursor: pointer;
    }

    .loader {
      max-width: 42px;
    }

    &[data-loader="0"] {
      .text {
        display: block;
      }

      .loader {
        display: none;
      }
    }

    &[data-loader="1"] {
      .text {
        display: none;
      }

      .loader {
        display: block;
      }
    }
  }

  @media (max-width: 1440px) {
    & &__input {
      &[name="CVV"] {
        flex-shrink: 1;
        max-width: 165px;
        width: 100%;
      }
    }
  }

  @media (max-width: 1350px) {
    & &__input {
      padding-left: 16px;
    }
  }

  @media (max-width: 1020px) {
    & &__input {
      margin-bottom: 12px;
    }
  }

  @media (max-width: 460px) {
    width: 100%;
    & &__flex-container {
      margin-bottom: 14px;
    }

    & &__input {
      &[name="CVV"] {
        max-width: 120px;
      }
    }
  }
}
